body {
    margin: 0;
    background: white;
    font-family: 'Montserrat', sans-serif;
  }

  .top-image {
    width: 500px;
    border-radius: 10%;
    border: solid white;
  }

  .mid-images {
    width: 125px;
    height: 125px;
    border-radius: 10%;
    padding-bottom: 6px;
  }

  .header {
    background-color: #1F2937;
    padding-bottom: 100px;
  }

  #background-mid {
    background-color: white;
  }

  .logo {
    width: 60px; 
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    color: #E5E7EB;
    padding-right: 16px;
    text-underline-offset: 4px;
    text-decoration: underline;

  }
  /* Top needs to be fixed. This is not the right way to align the header with the bottom content.
  It will cause a bug if the window is resized. */
  .top {
    display: flex;
    justify-content: center;
    gap: 480px;
    align-items: center;
    margin-bottom: 56px;
    padding-top: 8px;
  }


.middle-content {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 56px;
    align-items: center;
    padding: 16px;
}

.title {
    color: #F9FAF8;
    font-size: 36px;
    font-weight: bolder;
    max-width: 400px;
    margin-bottom: 8px;
}

.subtext {
    display: flex;
    justify-content: center;    
    max-width: 350px;
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 16px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    color: white;
    background: #3882F6;
    transition-duration: 0.4s;
  }

  button:hover {
    background-color: #597eba;
    color: white;
  }

  .mid-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: black;
    padding: 32px;
  }

  .boxes {
    display: flex;
    justify-content: center;
    gap: 52px;
  }

  .info {
    width: 140px;
  }

  .text {
    color: #9da4b3;
    font-size: 14px;
  }

.container {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.quote {
  width: 615px;
  font-style: italic;
  font-size: 24px;
  color: #1F2937;
}

#signature {
  text-align: right;
  font-size: 18px;
  font-weight: bolder;
}


.cta-title {
  color: #F9FAF8;
  font-size: 20px;
  font-weight: 900s;
}

.cta-content {
  color: #E5E7EB;
  font-size: 15px;
}

/* If I simply declare a width, the box automatically align with the left side. This box needs to be fixed. */
.container-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3882F6;
  gap: 100px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 50px;
  border-radius: 8px;
}

.sign-in {
  font-family: Roboto, sans-serif;
  border: solid white;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  transition-duration: 0.4s;
}

/* This is the solution found to centralize the box. I think's it's the right way to do it. Should review later anyway */
.container-background {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1F2937;
  margin-top: 50px;
  padding: 32px;
}
